<div class="wrapper">
 
    <app-menu></app-menu> 
     
<div class="content-wrapper">
  <br> 
  <div>
   <div class="card mb-3 "style="background-color: #ffd57a">
      <div class="card-header border-transparent">
        <h3 class="card-title">users List </h3>

         
      </div>
    
    <table class="table"   class="table table-hover">
        <thead>
          <tr>
            <th scope="col">first name</th>
            <th scope="col">last name</th>
           
             
          </tr>
        </thead>
        <tbody>
          <tr class='clickable-row'   *ngFor="let item of data[0].users"     routerLink="/projectbyid"  (click)=SetID(item.id) > 
                  
             
            <td> {{item.firstname}}</td>
            <td> {{item.lastname}}</td>
             
          </tr>
          
        </tbody>
      </table>
    </div>
</div>
</div>
