<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card" id="divElement"  style="width: 25rem;background-color:#2F4F4F;">



          <div class="brand-wrapper">
            <img src="assets/img/redmine.png" alt="logo" class="logo" style="width: 150;">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title" style="color: seashell;">Log In</h1>
            <form action="#!">
              <div class="form-group">
                <label for="email" style="color: azure;">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com">
              </div>
              <div class="form-group mb-4">
                <label for="password" style="color: azure;">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                  placeholder="enter your passsword">
              </div>
              <input name="login" style="background-color:#ffd57a;"  id="login" class="btn btn-block login-btn" routerLink="/dashboard" type="button"
                value="Login">
            </form>
            <a href="#!" class="forgot-password-link" style="color: azure;">Forgot password?</a>
            <p class="login-wrapper-footer-text" style="color: azure;">Don't have an account? <a href="#!" class="text-reset">Register
                here</a></p>
          </div>

        </div>
      </div>
       
    </div>
  </div>
</main>