<div class="wrapper">
 
    <app-menu></app-menu> 
     
<div class="content-wrapper">
  <br>
  <div class="card mb-3 "style="background-color: #ffd57a">
    <div class="card-header border-transparent">
      <h3 class="card-title">Project's List for user identify : {{id}}</h3>

       
    </div>
    
    <table class="table"  class="table table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
             
             
          </tr>
        </thead>
        <tbody>
          <tr class='clickable-row' *ngFor="let item of users" routerLink="/task"   (click)=SetIDproject(item.id)  > 
              
                  
            <td> {{item.id}}</td>
            <td> {{item.name}}</td>
            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
            </svg></td>
            
          </tr>
          
        </tbody>
      </table>
      </div>
</div>
</div>
